body
{
  margin:0 auto;
  background: #FFF;
  max-width:2000px;
}
h1
{
  text-transform:uppercase;
  font-size:1.8rem;
}
.new-cade-button
{
  color: rgba(255,255,255,1);
  text-decoration: none;
  background-color: #FF9A22;
  font-size: 1.7rem;
  float:left;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  box-shadow:0px 8px 0px rgba(237, 135, 18, 1), 0px 8px 25px rgba(180,180,180,.7);
	text-align: center;
	transition: all .1s ease;
}
.new-cade-button:active
{
  box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
  position: relative;
  top: 5px;
}
.ui-dialog
{
  z-index:9998;
  position:fixed;
  max-width:440px;
}
.ui-dialog-titlebar
{
  background:#FF9A22;
}
.ui-dialog-title
{
  color:#FFF;
}
.overlay
{
  background:rgba(0,0,0,0.8);
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:9997;
}
.overlay .loading-bar
{
  position:absolute;
  top:50%;
  bottom:0;
  left:0;
  right:0;
  max-width:500px;
  width:100%;
  margin:-20px auto 0;
}
.overlay .loading-bar span
{
  display:inline-block;
  margin:0px 1px;
  box-sizing:border-box;
  width:19.3%;
  height:40px;
  background-color:#369AFF;
}
.overlay .loading-bar span:nth-child(1)
{
  -webkit-animation:loading 0.5s infinite alternate 0s;
  -moz-animation:loading 0.5s infinite alternate 0s;
  -ms-animation:loading 0.5s infinite alternate 0s;
  -o-animation:loading 0.5s infinite alternate 0s;
  animation:loading 0.5s infinite alternate 0s;
}
.overlay .loading-bar span:nth-child(2)
{
  -webkit-animation:loading 0.5s infinite alternate 0.2s;
  -moz-animation:loading 0.5s infinite alternate 0.2s;
  -ms-animation:loading 0.5s infinite alternate 0.2s;
  -o-animation:loading 0.5s infinite alternate 0.2s;
  animation:loading 0.5s infinite alternate 0.2s;
}
.overlay .loading-bar span:nth-child(3)
{
  -webkit-animation:loading 0.5s infinite alternate 0.4s;
  -moz-animation:loading 0.5s infinite alternate 0.4s;
  -ms-animation:loading 0.5s infinite alternate 0.4s;
  -o-animation:loading 0.5s infinite alternate 0.4s;
  animation:loading 0.5s infinite alternate 0.4s;
}
.overlay .loading-bar span:nth-child(4)
{
  -webkit-animation:loading 0.5s infinite alternate 0.6s;
  -moz-animation:loading 0.5s infinite alternate 0.6s;
  -ms-animation:loading 0.5s infinite alternate 0.6s;
  -o-animation:loading 0.5s infinite alternate 0.6s;
  animation:loading 0.5s infinite alternate 0.6s;
}
.overlay .loading-bar span:nth-child(5)
{
  -webkit-animation:loading 0.5s infinite alternate 0.8s;
  -moz-animation:loading 0.5s infinite alternate 0.8s;
  -ms-animation:loading 0.5s infinite alternate 0.8s;
  -o-animation:loading 0.5s infinite alternate 0.8s;
  animation:loading 0.5s infinite alternate 0.8s;
}
@-webkit-keyframes loading
{
  0%{opacity:0.1;}
  100%{opacity:1;}
}
@-moz-keyframes loading
{
  0%{opacity:0.1;}
  100%{opacity:1;}
}
@-ms-keyframes loading
{
  0%{opacity:0.1;}
  100%{opacity:1;}
}
@-o-keyframes loading
{
  0%{opacity:0.1;}
  100%{opacity:1;}
}
@keyframes loading
{
  0%{opacity:0.1;}
  100%{opacity:1;}
}
span.hide
{
  text-indent:-999rem;
}
span.error
{
  color:red;
  margin:0;
  display:block;
  font-weight:bold;
}
span.error::before
{
  content:"*";
}
input.error
{
  border-color:red!important;
}
input.error:focus
{
  box-shadow:0px 0px 12px red!important;
}
input.error.envelope
{
  background:url(/cadeui/system/images/error-x.png) no-repeat 98% center, url(/cadeui/system/images/envelope.png) no-repeat 2px 50%;
}
input.error.envelope:focus
{
  background:url(/cadeui/system/images/error-x.png) no-repeat 98% center;
}
input.valid
{
  border-color:green!important;
}
input.valid:focus
{
  box-shadow:0px 0px 12px green!important;
}
input.valid.envelope
{
  background:url(/cadeui/system/images/success-checkmark.png) no-repeat 98% center, url(/cadeui/system/images/envelope.png) no-repeat 2px 50%;
}
input.valid.envelope:focus
{
  background:url(/cadeui/system/images/success-checkmark.png) no-repeat 98% center;
}
input.error.lock
{
  background:url(/cadeui/system/images/error-x.png) no-repeat 98% center, url(/cadeui/system/images/lock.png) no-repeat 2px 50%;
}
input.error.lock:focus
{
  background:url(/cadeui/system/images/error-x.png) no-repeat 98% center;
}
input.valid.lock
{
  background:url(/cadeui/system/images/success-checkmark.png) no-repeat 98% center, url(/cadeui/system/images/lock.png) no-repeat 2px 50%;
}
input.valid.lock:focus
{
  background:url(/cadeui/system/images/success-checkmark.png) no-repeat 98% center;
}
.success-message, .warning-message, .error-message
{
  background:#DFF2BF url(/cadeui/system/images/success-message.png) no-repeat 1rem center;
  color:#4F8A10;
  padding:1rem 3rem;
  margin:0 auto 1rem;
  border-radius:1rem;
  width:95%;
  position:absolute;
  top:40%;
  left:0;
  right:0;
  max-width:800px;
  display:none;
}
.success-message span
{
  color:#4F8A10;
  font-weight:bold;
}
.warning-message
{
  color: #9F6000;
  background:#FEEFB3 url(/cadeui/system/images/warning-message.png) no-repeat 1rem center;
}
.warning-message span
{
  color:#9F6000;
  font-weight:bold;
}
.error-message
{
  position:static;
  display:block;
  color: #D8000C;
  background: #FFBABA url(/cadeui/system/images/error-message.png) no-repeat 1rem center;
}
.error-message span
{
  color:#D8000C;
  font-weight:bold;
}/*test*/